@font-face {
	font-family: B;
	src: url('Elastik-B.otf');
}  

@font-face {
	font-family: C;
	src: url('Elastik-C.otf');
}

@font-face {
	font-family: D;
	src: url('Elastik-D.otf');
} 

@font-face {
	font-family: Haas;
	src: url('NHaasGroteskDSPro-45Lt.otf');
}


/* GOOGLE FONTS


font-family: 'Cherry Cream Soda', cursive;
font-family: 'Arbutus', cursive;
font-family: 'Michroma', sans-serif;
*/

html {	
margin: 0;
overflow: hidden;

}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.nav{
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 0;
	left: 0;
	top: 0;
	width: 100%;
	max-height: 15vh;
	min-height: 10vh;
	font-family: "acumin-pro";
	font-size: 30px;
}

#name, #about, #blog, #store, #giflib{
	margin:0;
	padding-left: 3%;
	padding-right: 3%;
}
#blog{
	background-color: beige;
}

#name{
	background-color: #3059ff;

}

#about{
	background-color: yellow;

}

#store{

	background-color: #c9a8ff;
}

#giflib{

	background-color: #ff2323;

}

.postArea {

	min-width: 100%;
	box-shadow: inset 0px 0px 99px -1px rgba(255,255,255,0.99);

/*	background-color: #aae5ff;
*/
}

.post{
	display: flex;
	position: relative;
	background-color: white;
	max-height: 15vh;
	min-height: 10vh;

}

.x{
	display: none;
	position: absolute;
	width: 100px;
	height: auto;
	z-index: 999;
	right:0.5%;
	top: 1%;

}

.xHover{
	display: none;
	position: absolute;
	width: 100px;
	height: auto;
	z-index: 999;
	right:0.5%;
	top: 1%;


}

.expand {
	display: inline;
	position: absolute;
	margin: 0;
	top: 0 !important; 
	left:0 !important;
	z-index:998;
    min-height: 100vh;
	width:100vw !important;
	overflow: scroll;
/*	transition: 1s;	
	transition: all 1s, background-color 0.025s;*/
}


.titleArea {
/*	float:right;
	display: inline-block;
	margin:0;
	margin-top: 0;*/
	margin-left: 1%;
	display: flex;
	flex-direction: row-reverse;
    height: 100px;
	flex-wrap: nowrap;
	white-space: nowrap;


 }

 .title{
 	margin:0;
	margin-top: 0;
 	font-family: "acumin-pro";
	font-size: 30px;
	color: black;
	display: flex;
	align-self: flex-end;
	white-space: normal;
 }

 .titleExpand{
 	position: absolute;
 	margin:0;
 	font-family:"acumin-pro" ;
	font-size: 25px;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
	top:5%;
	left: 50%;
	color: black;

 }

.descriptionArea {

}

.thumbnail{
display: flex;
height: auto;
float: left;

}


.thumbnailStyle{
	margin: 0;
	width: auto;
	padding: 1%;
	height: 70px;
	background-color: transparent;

}

.imageStyle{
	position: relative;
	margin: 0;
	padding:0;
    width: auto;
    max-height: 70vh;
    left: 50%;
    top:15vh;
    transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
    margin-bottom: 1%;
    float: left;

}

.imageArea{
	display: none;
	position: absolute;
	margin:0;
	top: 0;
	width: 50%;
	left: 25%;
	height:100%;
}






