::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

html {
	font-family: sans-serif;
	font-weight: 100;
	margin: 0;
	background-color: black;
	color: #a3a3a3;
  word-wrap: break-word;
}

h1 {
	font-weight: 300;
	font-size: 14;
	text-align: left;
	z-index: 999;
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
  overflow-x: hidden;
}

.info {
	z-index: 999;
	position: fixed;
	left: 20px;
	top: 50%;
	transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%);
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.images {
	/*border-left: 1px solid #282828;*/
	position: absolute;
	width:50vw;
	left: 0;
	height: auto;
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow-x: visible;
}

.newR.landscape {
  opacity: 0;
}

.rightside {
	/*border-left: 1px solid #282828;*/
	position: absolute;
	width:50vw;
	right: 0;
	height: auto;
	-webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow-x: hidden;
}



.images > section > img,.rightside > img {
	position: relative;
	width: 80%;
	height: auto;
}

.images > section > img {
  left: 0;
}

.rightside > img {
  left: 20%;
}

.images > section:last-child > img {
	margin-bottom: 0 !important;
}

.landscape {
  width:100vw !important;
  height: auto !important;
  z-index: 999 !important;
}
