::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

html {
	font-family: Helvetica;
	font-weight: 100 !important;
	margin: 0;
	background-color: black;
	color: #a3a3a3;
  word-wrap: break-word;
}

iframe {
  width: 100vw;
  height: 100vh;
  z-index: 998;
}

.contact {
  display: none;
}


@font-face {
    font-family: t;
    src: url(TimesNewRoman.ttf) format("truetype");
}

.links {
  font-family: t !important;
  background-color: transparent;
  position: fixed;
  right: 5vw;
  top: 0;
  width: 25vw;
  min-height: 100vh;
  z-index: 999 !important;
  text-align: right;
  font-style: italic;
  font-weight: bold !important;
}

.links > p {
  margin-top: 0;
  top: 0;
  position: relative;
  margin-bottom: 15px;
}

.links > p > a {
  position: relative;
  font-size: 45px !important;
  white-space:nowrap;
}

a,a:visited,p > a {
  position: relative;
  color: #a3a3a3;
  text-decoration: none;
}


a:hover {
  color: #EE327A !important;
}

.contact > p {
  position: relative;
  margin-bottom: -6px !important;
}

.contact > p:first-child {
  margin-top: 12px;
}

.contact > p > a {
  font-size: 16 !important;
}

h1 {
  position: relative;
	font-weight: 100;
	font-size: 16;
	text-align: left;
	z-index: 999;
  margin-bottom: 0px;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.info > h1:first-child {
  font-weight: 500 !important;
}



body {
	margin: 0;
	width: 100vw;
	height: 100vh;
  overflow-x: hidden;
  overflow: scroll;
  /*cursor: url(down.png) 10 20, auto;*/
}

.info {
  cursor: pointer;
	z-index: 999 !important;
	position: fixed;
	left: 35px;
	top: 30px;
	/*transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%);*/
}

.images{
  /*opacity: 0;*/
	/*border-left: 1px solid #282828;*/
	position: absolute;
	width:100vw;
	right: 0 !important;
	height: 100vh;
}

.parallax-mirror {
  position: relative;
  height: 100%;
  min-height: 400;
  background: transparent;
}

.landscape {
  width: 100vw !important;
  height: auto !important;
  z-index: 998 !important;
}

@media screen and (max-width: 736px){

  body {
    cursor: none;
    width: 100vw;
    height: 100vh;
    overflow: scroll !important;
  }

  .images {
    height: 100vh;
    width: 100vw;
  }

  .contact {
    display: inline;
  }

  .info {
    top: 10px;
    left: 20px;
    pointer-events: none;
  }

  .info,a {
    color: white !important;
  }

  .info > h1 {
    margin-bottom: 0;
  }

  .contact > p {
    position: relative;
    margin-bottom: 0 !important;
  }
