

::-moz-selection { background-color: none; color: none ; }
::selection { background-color: none; color: none ; }

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

::-webkit-input-placeholder { /* Chrome */
	background-color: none;
  color: black;
  font-size: 20;
  font-family: 'Work Sans', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
	background-color: none;
  color: black;
  font-size:20;
  font-family: 'Work Sans', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
	background-color: none;
  color: black;
  opacity: 1;
  font-size: 20;
  font-family: 'Work Sans', sans-serif;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	background-color: none;
  color: black;
  opacity: 1;
  font-size: 20;
  font-family: 'Work Sans', sans-serif;
}


html {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  color: black;

}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	margin-bottom: 3vh;

}


h1,h2,h3,.down {
	font-weight: 300 !important;
	font-size: 38;
	color: black;
}

.date {
	margin-top: 0;
	padding: 2px;
	position: relative;
	left: 1vw;
	top: -20px !important;
	font-size: 38;
	font-weight: bold;

}

p > strong {
	font-weight: 500 !important;
}

p,li,ul {
	font-weight: 300;
}

a {
	color: blue;
}

.topbar {
	position: absolute;
	top: 100vh;
	height: 9vh;
	background-color: rgba(255,255,255,0.95);
	width: 100vw;
	z-index: 998;
	-webkit-transition: background-color .3s linear;
  	-moz-transition: background-color  .3s linear;
  	-o-transition: background-color  .3s linear;
  	transition: background-color  .3s linear;
  	-webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);	
}

.topbar:hover {
	background-color: rgba(255,255,255,1);
}

.navtitle {
	cursor: pointer;
	text-decoration: underline;
	margin: 0;
	position: absolute;
	font-size: 20;
	top: 25%;
	left: 50%;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.name {
	cursor: pointer;
	position: absolute;
	margin: 0;
	top: 25%;
	left: 10vw;
	font-size: 20;
}

.name:hover {
	text-decoration: underline;
}

.search {
	border-radius: 3px;
	font-size: 20;
	background-color: #f7f95d;
	padding: 1%;
	position: absolute;
	top: 25%;
	right: 10vw;
	width: 12vw;
	height: 50%;
	outline: none;
}

.lime {
	position: fixed;
	bottom: -10vh !important;
	right: 20vw;
	height: auto;
	width: 35vw;
    -webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	-o-transition: all .3s linear;
  	transition: all .3s linear;
  	-ms-transform: rotate(-37deg); 
    -webkit-transform: rotate(-37deg); 
    transform: rotate(-37deg);
}

.spinach {
	position: fixed;
	bottom: -10vh !important;
	left: -10vw;
	height: auto;
	width: 20vw;
    -webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	-o-transition: all .3s linear;
  	transition: all .3s linear;
  	-ms-transform: rotate(-37deg); 
    -webkit-transform: rotate(-37deg); 
    transform: rotate(-37deg);
}

.banana {
	position: fixed;
	top: 0vh !important;
	right: 0vw;
	height: auto;
	width: 50vw;
    -webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	-o-transition: all .3s linear;
  	transition: all .3s linear;
  	-ms-transform: rotate(-125deg); 
    -webkit-transform: rotate(-125deg); 
    transform: rotate(-125deg);
}

.blueberry {
	position:fixed;
	margin: 0;
	top: -15vh !important;
	left: -8vw;
	height: auto;
	width: 35vw;
    -webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	-o-transition: all .3s linear;
  	transition: all .3s linear;
  	-ms-transform: rotate(-125deg); 
    -webkit-transform: rotate(-125deg); 
    transform: rotate(-125deg);
}

.strawberry {
	position: fixed;
	width: 20vw;
	height: auto;
	bottom: 7vh;
	left: 10vw;
	-webkit-transition: all .3s linear;
  	-moz-transition: all .3s linear;
  	-o-transition: all 3s linear;
  	transition: all .3s linear;
  	-ms-transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg); 
    transform: rotate(-27deg);
}
.down {
	border-radius: 3px;
	background-color: none;
	z-index: 996 !important;
	cursor: pointer;
	position: absolute;
	top: 80vh;
	left: 50%;
	font-size: 38;
	color: black;
	padding: 8px;
	background: rgba(255, 255, 255, 0.5);
	font-weight: 500;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
	  
}

.read {
	z-index: 999;
	border-radius: 3px;
	padding: 8px;
	background-color: transparent;
	border: 1px solid black;
	position: absolute;
	bottom: 0%;
	left: 1vw;
	font-size: 20;
	font-weight: 100;
	color: black;
		-webkit-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	transition: all .2s linear;
}

.read:hover {
	border-color: transparent;
	background-color: transparent;
	text-decoration: none;

}

.down:hover,.down:active {
	text-decoration: underline;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.aboutcontainer {
	background: rgba(255, 255, 255, 0.5);
	max-height: 95vh !important;
	padding: 2%;
	position: absolute;
	top: 3vh;
	left: 4vw;
	width: 87vw;
	font-size: 30;
	z-index: 999;
	border-radius: 3px;
}

.card {
	color: black;
	border-radius: 1px;
	margin-bottom: 2%;
	background: rgba(255, 255, 255, 0.0);
	z-index: 996;
	cursor: pointer;
	margin-right: 1vw;
	font-size: 18;
	position: relative;
	top: 115vh;
	left: 10vw;
 	width: 80vw;
 	height: 150px;
 	overflow: hidden;
 	padding-bottom: 10vh;
  	-webkit-transition: left .3s linear;
  	-moz-transition: left .3s linear;
  	-o-transition: left .3s linear;
  	transition: left .3s linear;
  	/*-webkit-box-shadow: 0px 0px 49px 25px rgba(255, 255, 255,0.5);
-moz-box-shadow: 0px 0px 49px 25px rgba(255, 255, 255,0.5);
box-shadow: 0px 0px 49px 25px rgba(255, 255, 255,0.5);*/
  	
}

.article {
	display: none;
	font-size: 20;
	position: relative;
	left: 1vw;
	width: 90%;
	margin-bottom: 15vh;
}

.block > img:first-child {
	margin-top: 0 !important;
}

.article > p {
	position: relative;
	width: 80%;
	left: 55%;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}


.block-img > img {
	z-index: 0;
	position: relative;
	left: 0%;
	width: 100%;
	height: auto;
	margin-bottom: 5% !important;
	margin-top: 5%;
}

.article > div > iframe {
	width: 80%;
	height: 17%;
	position: relative;
	left: 55%;
	margin-top: 5%;
	transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.title {
	position: relative;
	top: 1px;
	left: 1vw;
}

.recipetitle {
	position: relative;
	margin-top: 0;
	top: -1%;
	margin-bottom: 3%;
}


.recipearea {
	border-radius: 3px;
	display: none;
	background: rgba(255, 255, 255, 0.7);
	position: relative;
	z-index: 999;
	padding: 3%;
	width: 92%;
	left: 1%;
	column-count:2;
}

.keywords {
	position: absolute;
	height: 100%;
	right: 0;
	top: 15px;
	width: 40%;
	line-height: 1.2;
	font-size: 20;
}

mark {
	z-index: 999 !important;
	padding: 3px;
	background-color: #f7f95d;
  color: black;
  font-size: 35;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.1);
box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.1);
}

form,input {
	font-family: 'Work Sans', sans-serif;
	border: none;
	z-index: 999;
	font-size: 20;
	outline: none;
	color: black !important;
	font-weight: 300 !important;
		-webkit-transition: box-shadow .3s linear;
  	-moz-transition: box-shadow .3s linear;
  	-o-transition: box-shadow .3s linear;
  	transition: box-shadow .3s linear;
}

form:focus,input:focus {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  }

.print {
	background-color: #6aa1ff;
	border-radius: 3px;
	padding: 4px;
	font-size: 20;
	position: absolute;
	right: 1%;
	bottom: -1.5%;
	z-index: 999;
	width: auto;
		-webkit-transition: all .2s linear;
  	-moz-transition: all .2s linear;
  	-o-transition: all .2s linear;
  	transition: all .2s linear;
  	
}

.print:hover,.print.just:hover {
	background-color: transparent;
}


.hello {
	position: fixed;
	bottom: 1vh;
	left: 1vw;
	height: 50px;
	width: 50px;
	background-color: red;
	z-index: 999;
}


@media screen and (max-width: 736px){ 

			.topbar {
				position: absolute;
				height: 50px;
			}
			.strawberry,.spinach,.banana,.blueberry {
				width: 60vw;
			}
			.recipearea {
				left: 0vw !important;
				width: 88vw;
				column-count: 1;
			}

			.card,iframe {
				width: 92vw;
				left: 2vw;
			}

			.article > p {
				width: 100% !important;
				left: 0;
				transform:translate(0%,0%);
  				-webkit-transform:translate(0%,0%);
			}


			.print {
				display: none !important;
			}

			.search,.only,.name,.keywords,.article,.recipearea {
				display:none;
			}

			.down {
			font-size: 20;
			}

			.aboutcontainer {
				font-size: 14;
			}


			.title,.recipetitle,.date {
				font-size: 28;
			}

			.date {
				position: relative;
				margin-top: 7vh;
				margin-bottom: 0vh;
			}

			.block-img > img {
				left: 0;
				width: 98%;
			}

}

