
@media print {


	html {
		font-family: 'Open Sans', sans-serif;
		margin: 5% !important;
	}

	html, p, h1 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300 !important;
	}

	.print {
		display: none !important;
	}

	body {
		font-family: ap !important;
		width: 90% !important;
	}

	p, li, ul {
		font-size: 20 !important;
		font-family: 'Open Sans', sans-serif;
	}

	p > strong {
	font-weight: 300 !important;
	}


	.recipetitle {
		font-weight: 100 !important;
		font-size: 30 !important;
		width: 50% !important;
	}


}







