::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

html {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-size: 17;
	font-weight: 400;
}

body {
	font-weight: 400;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.name:hover,.pro:hover,.infoabout:hover {
	text-decoration: underline;
}

.home > img{
	position: absolute;
	left: 31vw;
	top: 65px;
	width: 60vw !important;
	height: auto;
}

.close {
	border-radius: 50%;
	cursor: pointer;
	margin-top: 0;
	display: none;
	position: fixed;
	top: 17px;
	left: 26vw;
	width: 20px;
	height: 20px;
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.close:hover {
	/*background-color: #f9fbff;*/
}

.name {
	cursor: pointer;
	margin: 0;
	position: fixed;
	top: 15px;
	left: 15px;
}

.pro {
	margin-top: 0;
	position: absolute;
	left: 31vw;
	top: 15px;
	cursor: pointer;
}

.infoabout {
	cursor: pointer;
	position: fixed;
	right: 15px;
	top: 15px;
	margin-top: 0;
}

.infoabout:hover,.name:hover {
	opacity: 1 !important;
}

.about {
	margin: 0;
	margin-top: -5;
	display: none;
	position: fixed;
	top: 0 !important;
	width: 40vw;
	left: 31vw;
	height: auto;
	font-weight: 300;
}

.about > p{
	position: relative;
	top: 0;
	margin-top: 0;
}

.project {
	z-index: 999;
	margin: 0;
	top: 100vh;
	left: 31vw;
	position: relative;
	width: 40vw;
	height: auto;
	margin-bottom: 10vh;
	padding-bottom: 5vh;
	border-bottom: .2vh solid white;
	-webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

.thumbnail > img{
	top: 50px;
	cursor: pointer;
	display: inline;
	width: 100%;
	height: auto;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.thumbnail > img:hover {
	opacity: .7;
}

.info {
	font-weight: 300;
	cursor: text;
	position: fixed;
	left: 15px;
	bottom: 5vh;
	width: 26vw;
	height: auto;
	display: none;
}

.images {
	display: none;
}

.images > section > img {
	width: 100%;
	height: auto;
	margin-bottom: 2vh;
}

.images > section > img:first-child {
	margin-top: 50px;
}

.title,.date {
	margin-top: 0;
	position: absolute;
}

.title {
	top: 0;
	left: 0;
}

.date {
	display: inline-block;
	top:0;
	right: 0;
	margin-bottom: -0px;
}

@media screen and (max-width: 736px) {
	.name {
		left: 5vw;
	}

	.pro,.home {
		display: none;
	}

	.infoabout {
		right: 5vw;
	}

	.project {
		top: 100px;
		width: 90vw;
		left: 5vw;
		margin-bottom: 22vh;
		border-bottom: none;
	}

	.close {
		left: 5vw;
		top: 60px;
	}

	.about {
		width: 90vw;
		left: 5vw;
		top: 100px !important;
	}


}
