::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

html{
  margin:0;
	font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}


.about > p,.exhibition > p,.blog > .post > p {
	font-size: 40;
	margin: 10vw;
}

ol {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

ol, li {
  margin-left: 0;
  margin: 0;
  font-size: 20;
}

a, a:visited {
	color: black;
  line-height: 1;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

a:hover {
  color: #900aff;
}

.blog > .post > .block-img > img {
  width: 80vw;
  height: auto;
}

.exhibition > section > img{
  position: relative;
	margin-bottom: 1vw;
	width: 80vw;
  left: 10vw;
	height: auto;
}


.about,.exhibition,.blog {
  background-color: rgba(255,255,255,.8);
  display:none;
  position: absolute;
	z-index: 998;
	top: 7.25vh;
	font-weight: 300;
	margin: 0;
	margin-top: 0;
	left: 0vw;
	width: 100vw;
	-webkit-transition: all .2s ease-in-out;
  	-moz-transition: all .2s ease-in-out;
  	-o-transition: all .2s ease-in-out;
  	transition: all .2s ease-in-out;
	}

.about > h1:first-child, .exhibition > h1:first-child, .blog > h1:first-child {
  position: relative;
  font-weight: 300;
  font-size: 25;
  left: 10vw;
  top: 6vh;
  margin-bottom: 10vh;
}

.exhibition > h1 {
  position: relative;
  font-weight: 900;
  font-size: 25;
  left: 10vw;
  top: 6vh;
  width: 50vw;
}

.these {
font-size: 40 !important;
}


.blog > .post > h1 {
  position: relative;
  left: 10vw;
  top: 6vh;
  font-weight: 900;
  font-size: 25;
}

.titlesection {
  margin-left: 1vw;
  padding-left: 1.5vw;
	z-index: 999;
	position: fixed;
	top: 0;
	left: -1vw;
	width: 100vw;
	height: 7.25vh;
  background-color: rgba(255,255,255,0);
	}

.center {
  left: 50%;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.title {
  border-radius: 2px;
  padding: .25vw;
	z-index: 999;
	margin-top: 0;
	top: 1vh;
	position: relative;
	font-weight: 300;
	display: none;
	float: left;
	cursor: pointer;
	font-size: 25;
	margin-right: 2.2vw;
}

.title:hover {
  text-decoration: underline;
}

.title:first-child:hover {
  text-decoration: none;
}

#about,#exhibition,#blog {
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgba(255,255,255,.95);
}

.animation {
  -webkit-animation: smallbig 10s linear infinite alternate;
  animation: smallbig 10s linear infinite alternate;
}

.title:first-child{
  margin: 0;
  padding: .25vw;
  font-weight: 900;
  color: black;
  display: inline;
  cursor: pointer;
  margin-right:2vw;
}


.home {
  background-color: red;
  z-index: -1;
  display: none;
  position: fixed;
  left:2vw;
  width: auto;
  max-height: 80vh;
  bottom: 5vh !important;
}

.home > section > img {
  height: 80vh;
  width: auto;
  bottom: 5vh !important;
}

.links {
  display: none;
  border-radius: 2px;
  position: fixed;
  top: 17.25vh;
  right: 1vw;
  width: 22vw;
  height: 30vh;
  font-weight: 300;
  background-color: transparent;
  border: none;
  color: #00d651;
}

.opencall {
  display: none;
  border-radius: 2px;
  position: fixed;
  bottom: 7vh;
  right: 1vw;
  width: 22vw;
  height: 30vh;
  font-weight: 300;
  background-color: transparent;
  border: none;
  color: #752402;
  overflow: scroll;
}
.opencall > h1,.links > h1 {
  font-weight: 900;
  padding: .25vw;
  border-radius: 2px;
  position: relative;
  display: inline;
  top: 1vh;
  left: .5vw;
  font-size: 20;
}

ul {
  margin: 0;
  margin-left: 0;
}

.info > p,.links > ul{
  margin: 0;
  margin-right: 6%;
  margin-top: 0;
  font-size: 20;
}

.info {
  border-radius: 2px;
  margin: 0;
  margin-top: 0;
  padding: .5vw;
  position: relative;
  margin-top: 10% !important;
  margin-bottom: 10%;
  width: 80%;
  left: 15%;
}



@-webkit-keyframes smallbig {
    0% {
        -webkit-transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.15);
    }
}

@keyframes smallbig {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.15);
    }
}


@media screen and (max-width: 750px) {
  body {
    width: 100vw !important;
  }

  .titlesection {
    left: 1vw;
    width: 40%;
  }

  .title {
    left: 1vw;
  }

  .about,.exhibition,.blog {
    display: none;
    width: 100vw !important;
  }

  .opencall {
    width: 40vw;
    padding: 1vw;
    left: 1vw;
    bottom: 0;
  }



}
